/* src/app/pages/product-details/product-detail.scss */

.product-detail-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.detail-card {
  max-width: 480px;
  width: 100%;
}
